@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans Narrow'), local('PTSans-Narrow'), url(http://themes.googleusercontent.com/static/fonts/ptsansnarrow/v5/UyYrYy3ltEffJV9QueSi4RdbPw3QSf9R-kE0EsQUn2A.woff) format('woff');
}
@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Narrow Bold'), local('PTSans-NarrowBold'), url(http://themes.googleusercontent.com/static/fonts/ptsansnarrow/v5/Q_pTky3Sc3ubRibGToTAYiylde52zikAzebNtJS89aM.woff) format('woff');
}
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 400;
  src: local('PT Serif'), local('PTSerif-Regular'), url(http://themes.googleusercontent.com/static/fonts/ptserif/v6/sDRi4fY9bOiJUbgq53yZCfesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 700;
  src: local('PT Serif Bold'), local('PTSerif-Bold'), url(http://themes.googleusercontent.com/static/fonts/ptserif/v6/QABk9IxT-LFTJ_dQzv7xpIbN6UDyHWBl620a-IRfuBk.woff) format('woff');
}
@font-face {
  font-family: 'PT Serif';
  font-style: italic;
  font-weight: 400;
  src: local('PT Serif Italic'), local('PTSerif-Italic'), url(http://themes.googleusercontent.com/static/fonts/ptserif/v6/03aPdn7fFF3H6ngCgAlQzBsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}

body {
  font: 16px Helvetica;
  color: #CCCCCD;
  background-color: #333332;
  opacity: 0;
}

a {
  color: #CBCBCB;
  text-decoration: none;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

a:visited {
  color: #989898;
}

a:hover {
  color: #EEEEEE;
}

h1 {
  font: 32px 'PT Sans Narrow';
  font-weight: bold;
}

h1[center] {
  text-align: center;
}

h2 {
  font: 28px 'PT Sans Narrow';
  font-weight: bold;
}

h3 {
  font: 24px 'PT Sans Narrow';
  font-weight: bold;
}

p a {
  border-bottom: 1px dotted #4C4C4C;
}

p a:hover {
  border-bottom: 1px solid #989898;
}

code {
  padding: 0 5px;
  margin: 0 2px;
  font-size: 12px;
  white-space: nowrap;
  background-color: #101010;
  border: 1px solid #080808;
  border-radius: 3px;
}

::selection {
  color: #343434;
  text-shadow: none;
  background-color: #252525;
}

#topbuttons {
  width: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
  font: 16px 'PT Sans Narrow';
  font-weight: bold;
}

#topbuttons div {
  display: inline-block;
}

#topbuttons div[left] {
  position: relative;
  margin-right: 5%;
}

#topbuttons a {
  margin: 0 15px 0 15px;
}

#topbuttons a[spaced] {
  margin: 0 130px 0 -130px;
}

#main {
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid #505050;
  padding-top: 10px;
}

#client {
  width: 800px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
}

#bottombuttons {
  margin-top: 20px;
  text-align: center;
}

div[article] {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

div[spaced] {
  margin-bottom: 100px;
}

div[text] {
  font-family: 'PT Serif';
  text-align: justify;
}

div[big] {
  font: 250px 'PT Sans Narrow';
  font-weight: bold;
  text-align: center;
}
